/* CSS Visionneuse */
main
{
    display: flex;
}
button
{
    width: 105px;
    height: 25px;
}
.imageEnCours
{
    border: 2px solid rgb(255, 0, 0);
}
#menuVisionneuse select
{
    width: 105px;
    height: 25px;
}
#vignettes img
{
    margin-right: 1.38px;
    cursor: pointer;
}
#vignettes li
{
    display: inline-block;
}
#menuVisionneuse button
{
    margin: 0px 20px 10px 0px;
}
#vignettes > ul
{
    list-style: none;
    padding: 0;
}
#menuVisionneuse > ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}
#menuVisionneuse > ul p
{
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 105px;
    margin: 0px 0px 15px 0px;
}
.chgAutoActif
{
    color: rgb(67, 165, 67);
}
.chgAutoDesactivé
{
    color: rgb(221, 55, 55);
}