/* CSS Visionneuse */
main
{
    display: flex;
}
button
{
    width: 100px;
}
.imageEnCours
{
    border: 2px solid rgb(255, 0, 0);
}
#menuVisionneuse select
{
    width: 100px;
    margin-left: 20px;
}
#vignettes img
{
    margin-right: 1.38px;
    cursor: pointer;
}
#vignettes li
{
    display: inline-block;
}
#menuVisionneuse button
{
    margin: 5px 20px;
}
#vignettes > ul
{
    list-style: none;
    padding: 0;
}
#menuVisionneuse > ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}